doctype html
html
    head
        meta(charset="UTF-8")
        title Эколого-биологический центр
        link(rel="stylesheet" href="fonts/opensans/opensans.css")
        link(rel="stylesheet" href="fonts/ionicons/ionicons.css")
        link(rel="stylesheet" href="css/main.css")
    body
        header
            .header-wrapper
                a.site-name(href="#") АБЦДиЮ
                .urls
                    a.active(href="index.html") Главная
                    a(href="history.html") История
                    a(href="contests.html") Конкурсы
                    //a(href="methodical.html") Методическая служба
                    a(href="gallery.html") Галерея
                    a(href="news.html") Новости
                    a(href="contacts.html") Контакты
        .after-header.main
            img(src="images/156.jpg")        
        .content
            .content-wrapper
                
        footer
            .footer-wrapper
                span Адрес: г. Алчевск, ул. Ленина, 89
                    br
                span тел. (06442) 5-12-75