doctype html
html
    head
        meta(charset="UTF-8")
        title Эколого-биологический центр
        link(rel="stylesheet" href="fonts/opensans/opensans.css")
        link(rel="stylesheet" href="fonts/ionicons/ionicons.css")
        link(rel="stylesheet" href="css/main.css")
    body
        header
            .header-wrapper
                a.site-name(href="#") Алчевский эколого-биологический центр детей и юношества
        nav
            .nav-wrapper
                ul.urls
                    li
                        a(href="index.html") Главная
                    li
                        a(href="history.html") История
                    li
                        a(href="contests.html") Конкурсы
                    li.active
                        a(href="methodical.html") Методическая служба
                    li 
                        a(href="gallery.html") Галерея
                    li  
                        a(href="news.html") Новости
                    li 
                        a(href="contacts.html") Контакты
        .content
            .content-wrapper Алчевский эколого-биологический центр детей и юношества - это внешкольное учебное заведение, которое является координационным центром информационно-методической, природоохранной, опытнической иэкспериментальной работы учителей и учащихся учебных заведений по эколого-биологическому направлению.
                h2 Направления деятельности учреждения:
                p координационно-методическая работа:
                ul
                    li проведение координационно-методических советов с участием работников учебных заведений города и внешкольных учебных заведений
                    li семинары и мастер-классы для различных категорий педагогических работников
                    li сотрудничество с высшими учебными учреждениями, учебными заведениями, общественными организациями
                p учебно-воспитательная деятельность:
                ul
                    li работа творческих ученических объединений, кружков, научных секций
                    li исследовательская работа
                    li допрофессиональная подготовка
                    li работа Алчевского научного общества
                    li проведение мастер-классов
                    li экскурсионная деятельность
                    li практическая природоохранная работа
                    li участие в международных, региональных, республиканских  конкурсах, проектах, акциях
                    li оздоровление на базе биостанции во время работы профильного лагеря "Юннат".
                p В центре работает 11 основных педагогов и 5 совместителей, из них - 3 кандидата наук
                    br
                h2 Отделы программ обучения:
                p Эколого-биологический:
                ul
                    li "Экология с компьютером"
                    li "Основы информационных технологий"
                    li "Основы биологии"
                    li "Биология человека"
                    li "Юный медик"
                    li "Удивительный мир природы для дошкольников"
                    li "Чудесный мир природы"
                    li "Любители домашних животных"
                    li "Флористы"
                    li "Цветоводы"
                    li "Увлекательная зоология"
                    li "Юные охранники окружающей среды"
                    li "Юные ветеринары"
                    li "Юные друзья природы"
                    li "Здоровым быть модно"
                    li "Экологическая журналистика"
                    li "Мир животных"
                    li "Познай себя"
                    li "Экологи-краеведы"
                    li "Любители природы"
                p эколого-эстетический:
                ul
                    li "Народное творчество"
                    li "Кукольный театр "Росинка"
                    li "Природа и фантазия"
                    li "Экологическая студия изобразительного искусства"
                p научные секции:
                ul
                    li "Юный исследователь"
                    li "Технологии программирования"
                    li "Психология"
                    li "Медицина"
                    li "Общая биология"
                    li "Валеология"
                    li "Экология"
                strong Примечание:
                span  для более полной и детальной информации про внеклассное обучение в этом учебном заведении обращайтесь по номеру телефона    5-12-75​
        footer
            .footer-wrapper
                span Адрес: г. Алчевск, ул. Ленина, 89
                    br
                span тел. (06442) 5-12-75